:host {
    display: block;
    height: 100%;
    width: 100%;
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
}

.top {
    height: 16rem;
    padding: 2rem 3rem;
}

.center {
    position: relative;
    height: calc(100% - 32rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
}


.bottom {
    position: relative;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 184px;
    height: 71px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.verift-email {
    height: 30px;

    /* Body/Body > Desktop > Large - 18px */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */
    letter-spacing: -0.02em;

    /* Charcoal */
    color: #485059;
}

.text-1 {
    width: 334px;
    height: 24px;

    /* Body/Body > Desktop > Small - 14px */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    /* Neutral/Charcoal */

    color: #485059;
}

.address {
    width: 53px;
    height: 20px;

    /* Body > Desktop > Small - 12px */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    letter-spacing: -0.02em;

    /* Charcoal */

    color: #485059;
}

.rectangle {
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    left: 168px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    margin: auto;
    text-align: -webkit-center;
}

.number {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: #485059;
    width: 100%;
    height: 100%;
    position: relative;
}

.number:focus-visible {
    border: unset !important;
    outline: unset !important;
}

input {
    border: unset;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #AFBDCA;
    color: #485059;
    font-weight: 700;
}

input:focus-visible {
    outline: unset !important;
}

::selection {
    // color: transparent !important;
    background: transparent !important;
}

.error {
    background-color: #FFE3E1 !important;
    color: #D30059 !important;
    border-color: #D30059 !important;
    border-radius: 6px !important;
}

.success {
    background-color: #E9FFF9;
    color: #00BA88;
    border-color: #00BA88;
    border-radius: 6px
}

.selected {
    border-color: #1565D8 !important;
}

.underline {
    position: absolute;
    left: 32px;
    top: 31px;
    font-weight: 100;
    font-family: serif;
    width: 27px;
    font-size: 26px;
    overflow: unset;
    color: #1565D8;
    height: 10px;
    transform: scale(1.5);

    display: none;
}

.non-button {
    color: #1565D8;
    margin-left: 4px;
    cursor: pointer;
}

.timer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    /* Shadow Blue */
    color: #8692A6;
}

.disabled-text {
    opacity: .5;
    cursor: not-allowed;
}

.rectangle:first-child {
    margin-left: 0;
}

.rectangle:last-child {
    margin-right: 0;
}